@font-face {
  font-family: 'Aller_Regular';
  src: url('../fonts/Aller_Rg.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Aller_Rg.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aller_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Aller_Light';
  src: url('../fonts/Aller_Lt.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Aller_Lt.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aller_Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Aller_Bold';
  src: url('../fonts/Aller_Bd.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Aller_Bd.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aller_Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Aller_italic_light';
  src: url('../fonts/Aller_LtIt.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Aller_LtIt.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aller_LtIt.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Aller_bold_italic';
  src: url('../fonts/Aller_BdIt.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Aller_BdIt.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aller_BdIt.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Aller_bold_italic';
  src: url('../fonts/Aller_BdIt.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Aller_BdIt.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aller_BdIt.ttf')  format('truetype'), /* Safari, Android, iOS */
}
