* {
  margin: 0;
  padding: 0; }

body,
html {
  width: 100%;
  height: auto;
  font-family: 'Omnes';
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

/* Prevent user scrolling on mobile menu */
.overflow {
  overflow: auto; }

/* DEFAULT STYLES */
html {
  font-size: 62.5%;
  box-sizing: border-box; }

h3, p,
.default_link,
h1, span {
  font-size: 2.4rem; }

ul, li,
.default_button,
.tag {
  font-size: 1.7rem; }

a {
  font-size: 2.1rem; }

p,
span {
  line-height: 1.8; }

h2 {
  font-size: 6rem;
  margin-bottom: 2rem;
  font-family: lora-Regular; }

.clear::after {
  content: '';
  display: table;
  clear: both; }

.xl {
  font-size: 8rem; }

/* END OF DEFAULT STYLES */
/* START OF GLOBAL CONTAINER */
.global_container {
  width: 100%;
  height: auto; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative; }

.content {
  display: inline;
  width: 80%; }

/* END OF GLOBAL CONTAINER */
/* START OF BUTTONS */
.default_button {
  width: 200px;
  text-align: center;
  padding: 2rem 3rem;
  color: white;
  background: #ff425d;
  display: block;
  border-radius: 3rem;
  margin: 3rem auto;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid transparent;
  transition: 0.25s;
  z-index: 2; }

.default_button:hover {
  border: 1px solid #ff425d;
  background: transparent;
  color: #ff425d;
  padding: 2rem 3rem; }

.outline {
  border: 1px solid #969696;
  background: none;
  color: #969696;
  width: 150px; }

.outline:hover {
  background: #ff425d;
  color: white;
  border-color: transparent; }

.outline-rv {
  background: #ff425d; }

.outline-rv:hover {
  border: 1px solid #969696;
  background: none;
  color: #969696;
  width: 150px; }

.logo {
  width: 400px;
  height: 144px;
  position: relative;
  z-index: 2; }

.line {
  display: block;
  width: 100px;
  height: 1px;
  background: #c8c8c8;
  margin: 1rem auto; }

/* END OF BUTTONS */
/* START OF ANIMATION CLASSES */
.panel {
  height: 100%;
  width: 100%; }

.panel.green {
  margin-bottom: 400px; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1.5s; }

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

/* END OF ANIMATION CLASSES */
/* HEADER START */
.mobile_menu {
  display: none; }

header {
  float: left;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 0;
  width: 100%;
  height: auto;
  background: transparent;
  transition: 800ms; }
  header img {
    float: left; }
  header h1 {
    float: left;
    color: #ff425d;
    font-family: lora-Regular;
    margin-top: 0.5rem; }
  header nav ul {
    float: right; }
    header nav ul li {
      display: inline; }
      header nav ul li a {
        text-decoration: none;
        color: white;
        transition: 300ms;
        margin: 0 1rem;
        padding: 1rem 2rem;
        line-height: 2.6;
        position: relative; }
      header nav ul li .active,
      header nav ul li a:hover {
        color: white; }
      header nav ul li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      header nav ul li a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

.emp {
  background: transparent;
  border: 2px solid #ff425d;
  padding: 1rem 3rem;
  border-radius: 2rem; }

.emp:before {
  background-color: transparent; }

.emp:hover {
  border-radius: 2rem;
  color: #ff425d; }

.header_fix {
  top: 0;
  position: fixed;
  background: white;
  width: 100%;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  padding: 2rem 0; }
  .header_fix nav ul li a {
    color: #aaaaaa; }
  .header_fix a:hover {
    color: #646464; }
  .header_fix a:before {
    background: #646464; }

/* HEADER END */
/* HERO START*/
.hero {
  background: #dfdfdf;
  width: 100%;
  height: 920px; }
  .hero h2 {
    color: white;
    z-index: 2;
    position: relative; }
  .hero p {
    width: 500px;
    margin: 0 auto;
    color: white;
    z-index: 2;
    position: relative; }

.gradient {
  background: -moz-linear-gradient(45deg, rgba(177, 0, 82, 0.3) 0%, rgba(177, 0, 82, 0.3) 1%, rgba(39, 5, 48, 0.36) 55%, rgba(39, 5, 48, 0.4) 98%);
  background: -webkit-linear-gradient(45deg, rgba(177, 0, 82, 0.3) 0%, rgba(177, 0, 82, 0.3) 1%, rgba(39, 5, 48, 0.36) 55%, rgba(39, 5, 48, 0.4) 98%);
  background: linear-gradient(45deg, rgba(177, 0, 82, 0.3) 0%, rgba(177, 0, 82, 0.3) 1%, rgba(39, 5, 48, 0.36) 55%, rgba(39, 5, 48, 0.4) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db10052', endColorstr='#66270530',GradientType=1 );
  position: relative;
  z-index: 100; }

.background {
  position: relative;
  float: left; }

.hero_content {
  width: 100%;
  height: 920px;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.small_hero {
  height: 600px;
  width: 100%;
  background: url("../images/abouthero.jpg"); }
  .small_hero .hero_content {
    padding: 10rem 0;
    height: 500px;
    color: white; }

.small_hero:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  background: rgba(123, 104, 238, 0.8); }

/* END OF HEADER */
/* START OF CV */
.cv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  padding: 0.5rem 0;
  background: #f0f0f0; }
  .cv .default_button {
    display: inline-block; }
  .cv p {
    color: #969696;
    width: 100%; }
  .cv .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1100px; }

.style2 {
  background: transparent;
  border: 2px solid #392071;
  transition: 0.25s;
  color: #392071; }

.style2:hover {
  color: white;
  background: #392071;
  border: 2px solid #392071; }

/* END OF CV */
/* START OF ABOUT */
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
  box-sizing: border-box;
  background: whitesmoke; }
  .about .container {
    max-width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .about .container .default_link {
      text-decoration: none;
      color: #ff425d;
      transition: 0.15s; }
    .about .container .default_link:hover {
      text-decoration: underline; }
    .about .container p {
      text-align: center;
      color: #969696;
      width: 100%; }
    .about .container span {
      color: #646464; }
    .about .container h2 {
      color: #ff425d; }

.full_about {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  background: white;
  position: relative;
  z-index: 222;
  float: left; }
  .full_about .container {
    max-width: 1400px; }
  .full_about .left_panel {
    width: 70%;
    float: left; }
    .full_about .left_panel .line {
      margin: 0;
      float: left; }
    .full_about .left_panel .intro {
      color: #ff425d; }
    .full_about .left_panel p {
      margin: 2rem 0;
      font-size: 2rem;
      color: #969696;
      text-align: justify; }
    .full_about .left_panel .about_content {
      width: 85%;
      margin: 0 auto; }
  .full_about .right_panel {
    float: right;
    width: 25%;
    text-align: center; }
    .full_about .right_panel h3 {
      margin-top: 2rem;
      color: #ff425d;
      font-size: 3rem;
      font-family: Lora-regular; }
    .full_about .right_panel h4 {
      color: #bebebe;
      font-size: 2rem; }
    .full_about .right_panel a {
      color: #ff425d; }

/* END OF ABOUT */
/* START OF PORTFOLIO */
.portfolio {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .portfolio .portfolio_item {
    width: 33.33%;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden; }
    .portfolio .portfolio_item img {
      width: 100%;
      height: auto;
      float: left;
      transform: scale(1);
      transition: 500ms ease-in-out; }
  .portfolio .overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    color: white;
    width: 100%;
    min-height: 100%;
    text-align: center;
    display: none;
    transition: opacity 200ms ease-in-out;
    opacity: 0; }
  .portfolio .portfolio_item:hover .overlay {
    display: flex;
    animation: fadeIn 350ms ease-in-out;
    opacity: 1; }
  .portfolio .portfolio_item:hover .overlay .tag,
  .portfolio .portfolio_item:hover .overlay h3 {
    animation-delay: 1s;
    animation: portfolioUp 200ms ease-in-out; }
  .portfolio .portfolio_item:hover img {
    transform: scale(1.1); }

/* END OF PORTFOLIO */
.swiper-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 4rem 0; }

.swiper-button-prev,
.swiper-button-next {
  display: none; }

.swiper-slide {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column; }

.swiper-slide img {
  width: 100%;
  height: auto; }

.post_data {
  position: relative;
  bottom: 10px;
  padding: 4rem 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  color: #323232;
  width: 100%; }
  .post_data a {
    text-transform: uppercase; }
  .post_data h2 {
    font-size: 4rem;
    color: #ff425d; }
  .post_data p {
    width: 100%;
    font-size: 2rem;
    text-align: justify;
    color: #8c8c8c; }
  .post_data .line {
    margin: 1rem 0;
    height: 1px;
    width: 20px;
    background: #e6e6e6; }
  .post_data .default_button {
    margin: 1rem 0;
    width: 130px; }

.blog_posts {
  background: #f7f7f7;
  position: relative;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  transition: 0.25s;
  overflow: hidden; }

footer {
  width: 100%;
  height: auto;
  float: left;
  padding: 4rem 0;
  background: #2c3441;
  position: relative; }
  footer .footer_content_box {
    color: #c8c8c8;
    width: 24%;
    height: auto;
    display: inline-flex;
    flex-direction: column; }
    footer .footer_content_box img {
      position: relative;
      float: left; }
    footer .footer_content_box h3 {
      margin: 1rem 0;
      color: white; }
    footer .footer_content_box ul li {
      list-style: none;
      font-size: 1.5rem;
      margin: 0.5rem 0; }
      footer .footer_content_box ul li a {
        text-decoration: none;
        color: #1496ff; }
    footer .footer_content_box p {
      font-size: 1.4rem; }

.legal {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  background: #222933;
  color: white;
  float: left;
  display: block; }

/* ANIMATIONS START */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes portfolioUp {
  from {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 50);
    -ms-transform: matrix(1, 0, 0, 1, 0, 50);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50); }
  to {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0); } }
@keyframes drop_down {
  0% {
    top: 0;
    transform: scaleX(1); }
  100% {
    top: 20%; } }
@keyframes slide_in {
  0% {
    bottom: -1000px; }
  100% {
    bottom: 0; } }
/* ANIMATION END */
@media screen and (max-width: 1200px) {
  .hero,
  .hero_content,
  canvas,
  .background {
    height: 600px;
    overflow: hidden; }
    .hero p,
    .hero_content p,
    canvas p,
    .background p {
      padding: 0 2rem; }

  a,
  p,
  span,
  .default_link {
    font-size: 2rem; }

  h2 {
    font-size: 5rem; }

  .post_data p {
    font-size: 2rem; }

  .cv .content {
    width: auto; }

  .container {
    width: 900px; } }
@media screen and (max-width: 900px) {
  .portfolio .portfolio_item {
    width: 50%; }

  .cv .content {
    flex-wrap: wrap;
    padding: 4rem 0;
    z-index: 9999; }

  h1 {
    display: none; } }
@media screen and (max-width: 713px) {
  .about .container {
    padding: 4rem; }

  .portfolio .portfolio_item {
    width: 48%; }

  .overflow {
    overflow: hidden; }

  .swiper-slide {
    height: auto;
    padding: 3rem 0; }
    .swiper-slide .post_data {
      width: 90%; }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0; }

  .container {
    width: auto;
    padding: 1rem; }

  .content {
    padding: 4rem 1rem; }

  .cv {
    padding: 0;
    height: 0;
    background: #f0f0f0;
    position: relative; }
    .cv .content {
      padding: 0; }
      .cv .content .style2 {
        position: relative;
        bottom: 90px;
        color: white;
        background: #392071;
        border: 1px solid #392071; }
      .cv .content .style2:hover {
        background: transparent;
        border: 1px solid #392071; }
      .cv .content p {
        display: none; }

  .blog .post_data {
    padding: 4rem;
    box-sizing: border-box;
    width: 90%; }
  .blog .container {
    flex-wrap: wrap; }

  footer .footer_content_box {
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem;
    box-sizing: border-box; }

  .menu_open {
    display: flex; }

  body.menu_open {
    overflow: hidden; }

  header {
    background: rgba(50, 50, 50, 0.9);
    position: fixed;
    display: none;
    height: 100vh;
    overflow: auto; }
    header nav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh; }
      header nav ul {
        width: 100%; }
        header nav ul li {
          display: block; }
          header nav ul li a {
            color: white;
            text-align: center;
            display: block;
            font-size: 2.5rem; }
          header nav ul li a:hover {
            background: #ff425d;
            color: #fafafa;
            border-radius: 3rem; }

  .header_fix,
  header {
    background: transparent;
    background: rgba(50, 50, 50, 0.9); }

  .mobile_menu {
    display: inline-block;
    position: fixed;
    z-index: 3;
    background: #ff425d;
    height: 50px;
    width: 100%;
    z-index: 99999; } }
@media screen and (max-width: 400px) {
  h2 {
    font-size: 4rem; }

  .hero p {
    width: auto; }

  p {
    width: 100%;
    text-align: justify; }

  .swiper-pagination {
    bottom: 0; }

  .filters ul li a {
    font-size: 1.5rem; }

  .gradient {
    background: -moz-linear-gradient(45deg, rgba(33, 33, 33, 0.51) 0%, rgba(33, 33, 33, 0.51) 1%, rgba(39, 5, 48, 0.52) 68%, rgba(39, 5, 48, 0.52) 98%);
    background: -webkit-linear-gradient(45deg, rgba(33, 33, 33, 0.51) 0%, rgba(33, 33, 33, 0.51) 1%, rgba(39, 5, 48, 0.52) 68%, rgba(39, 5, 48, 0.52) 98%);
    background: linear-gradient(45deg, rgba(33, 33, 33, 0.51) 0%, rgba(33, 33, 33, 0.51) 1%, rgba(39, 5, 48, 0.52) 68%, rgba(39, 5, 48, 0.52) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82212121', endColorstr='#85270530',GradientType=1 ); } }

/*# sourceMappingURL=style.css.map */
